* {
    box-sizing: border-box;
  }
  
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    color: #FFF;
  }

header {
  background-color: #000;
}

#nav-header {
  background-color: #000!important;
}

.navbar-nav {
  margin-left: 15px;
}

.nav-link {
  font-family: "Inter", sans-serif;
  color: #FFF;
}

.nav-link:hover {
  font-weight: 600;
  color: #FFF;
}

.btn-header {
  border-radius: 0%;
  border: 1px solid #FFF;
  color: #FFF;
}

.btn-header:hover {
  border: 1px solid #FFF;
}

#nav-form {
  position: absolute;
  right: 0px;
}

#nav-form>input {
  margin-right: 15px;
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(215,255,1, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 }

.navMobile{
  background-color: #343A40;
  display: flex;
  margin-top: -95px;
  z-index: 1;
  position: absolute;
  right: 0;
  width: 147px;
}

#btnclose {
  position: absolute;
  right: 24px;
  top: 5px;
  height: 31px;
}

#navbarMobile {
  margin-top: 25px;
  margin-bottom: 10px;
}

#nav-link-mobile{
  margin-bottom: 4px;
}

#nav-link-mobile:hover {
  color: #DAFF01;
}

.btn-header-mobile{
  border-radius: 0;
  border: 1px solid black;
  color: #000;
  margin-left: 15px;
}

.title {
  color: #000;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 28px;
}

#categorias {
  margin-top: 25px;
}

#categ1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-bottom: 25px;
  justify-items: center;
}

#categ2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-bottom: 25px;
  justify-items: center;
}

#categ3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  justify-items: center;
}

#products {
  display: grid;
}

.card {
  justify-self: center;
  margin-bottom: 35px;
}

.btnProducts {
  margin-top: 15px;
  border-radius: 0;
  background-color: #9353ff;
  font-size: 16px;
  color: #FFF;
}

.btnProducts:hover {
  font-weight: bold;
  background-color: #9353ff;
  color: #FFF;
}


#facilidades {
  background-color: #000;
  height: 370px;
}

.title1 {
  color: #FFF;
  font-size: 24px;
  text-align: center;
  padding-top: 25px;
}

aside {
  float: left;
  margin-left: 15px;
}

.pix {
  margin-top: 25px;
  margin-bottom: 50px;
}

.trocaGratis {
  margin-bottom: 50px;
}

#tt1 {
  color: #DAFF01;
  font-size: 16px;
  margin-left: 21vw;
  margin-bottom: 15px;
}

#desc {
  color: #FFF;
  font-size: 13px;
  margin-left: 21vw;
}

.newsletter {
  margin-top: 25px;
}

#cardNews {
  border-radius: 0;
  border: 1px solid black;
}

#cardBodyNews {
  padding: 35px;
}

#newsText {
  font-size: 16px;
  text-align: center;
}

.form-group {
  margin-top: 25px;
  display: flex;
}

#email {
  border-radius: 0;
  border: 1px solid black;
  border-right: 0px;
}

#email::placeholder {
  font-size: 16px;
}

.btnNews {
  border-radius: 0;
  background-color: #9353ff;
  color: white;
  font-size: 16px;
}

#rodape {
  background-color: #000;
}

.footerControl {
  font-size: 13px;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}





/* responsive */
@media (min-width:768px) {
  .form-mobile{
    display: none;
  }
}





